body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

#map {
  height: 70vh;
  width: 80vw;
  margin: 0 auto;
  border: 1px solid #333;
}

#info {
  margin-top: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  width: 80vw;
  margin: 0 auto;
  text-align: left;
}

.leaflet-container {
  background: #000;
}

#yearSlider {
  width: 80vw;
  margin: 20px auto;
}

#yearLabel {
  display: block;
  margin: 10px auto;
}
